Cadastro do Usuario

Login
Nome
Senha
Ativou ou não (checkbox)

<form action="/action_page.php">
    <label for="fname">Login:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Nome:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Senha:</label>
    <input type="password" id="lname" name="lname"><br><br>
    <input type="checkbox" id="lname" name="lname"> Usuário Ativo<br><br>
    <input type="submit" value="Cadastrar">
</form>